/*
	Using Bootstrap
*/

@import url(https://fonts.googleapis.com/css?family=Raleway:300,700);
body {
	background: #048;
	background: -webkit-linear-gradient(left top, #027, rgb(3, 5, 146));
	background: -moz-linear-gradient(bottom right, #027, rgb(3, 5, 146));
	background: linear-gradient(to bottom right, #027, rgb(3, 5, 146));
	background-attachment: fixed;
	color: #fff;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 140%;
	margin: 0;
	height: 100%;
	padding: 0;
	text-align: center;
	width: 100%;
}
.page_title {
	font-weight: 300;
	line-height: 120%;
	margin: 20px 0;
	text-shadow: 0 1px 5px rgba(0,0,0,.8);
	text-transform: uppercase;
}

/* PEN STYLES ========== */
.row {
	margin: 0;
}

.test_box {
	padding: 0;
}
.test_box .inner {
	background: #333;
	display: block;
	margin: 10px;
	overflow: hidden;
}
.test_box .inner .test_click {
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: rgba(0,0,0,.1);
	color: #fff;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	height: 300px;
	mix-blend-mode: normal;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}
.test_box .inner .test_click:hover {
	background-color: rgba(0,100,255,.5); 
	mix-blend-mode: hard-light;
}
.flex_this {
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	display: inherit;
	flex-wrap: inherit;
	height: auto;
	margin: 0;
	padding: 10px;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
	width: 100%;

}
.test_box .inner .test_click:hover .flex_this {
	margin-top: -5px;
}

.test_title {
	display: block;
	font-weight: 700;
	margin: 0 0 20px;
	width: 100%;
}
.test_link {
	border: 2px solid #fff;
	display: inline-block;
	font-size: .8em;
	font-weight: 700;
	letter-spacing: .1em;
	margin: 0 auto;
	padding: 10px 30px;
	text-transform: uppercase;
}

.box-01 .inner {
	background-image: url('/images/Github\ Banner.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.box-02 .inner {
	background-image: url('/images/MainSite\ Banner.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.box-03 .inner {
	background-image: url('/images/FakeUpdate\ Banner.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.box-04 .inner {
	background-image: url('/images/NewTab\ Banner.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.box-05 .inner {
	background-image: url('/images/Blog\ Banner.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.box-06 .inner {
	background-image: url('/images/ComingSoon\ Banner.webp');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.box-07 .inner {
	background-image: url('/images/ComingSoon\ Banner.webp');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.box-08 .inner {
	background-image: url('/images/ComingSoon\ Banner.webp');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.box-09 .inner {
	background-image: url('/images/ComingSoon\ Banner.webp');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.box-10 .inner {
	background-image: url('/images/ComingSoon\ Banner.webp');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}